.desk-menu {
    padding-top: 25px;
    &__list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-transform: uppercase;
    }

    &__item {
        margin-left: 17px;
    }

    &__item:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }

    &__link {
        color: #fff;
        font-size: 21px;
        font-family: $font-title;
        font-weight: bold;
        text-decoration: none;
        transition: all ease 0.1s;

        &:hover {
            color: rgba(255, 255, 255, 0.897);
            text-decoration: none;
        }
    }

    &--absolut {
        position: absolute;
        top: 0%;
        right: 7%;
    }

    @media (max-width: $screen-lg) {
        
        & {
            display: none;
        }
    }
}