.footer {
    background-color: #efefef;
    margin-top: 40px;

    &__copyright {
        font-family: $font-text;
        font-size: 14px;
        text-align: center;
        padding-top: 25px;
        margin-bottom: 7px;
    }
}