.footer {
    background-color: #efefef;
    margin-top: 40px;

    &__copyright {
        font-family: $font-text;
        font-size: 14px;
        text-align: center;
        padding-top: 25px;
        margin-bottom: 7px;
    }

    &--bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @media (max-width: $screen-sm) {

        &--bottom {
            position: relative;
        }

    }

    @media (max-width: $screen-md) {

        &--bottom {
            position: relative;
        }
        
    }

}