.map {
    &__title {
        font-family: $font-title;
        text-align: center;
        font-size: 1.5rem;
        color: $main-color;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    @media (max-width: $screen-lg) {

        iframe {
            margin-bottom: 25px;
        }
        .modal-bg--gray {
            margin: 0 auto;
        }
    }
}